.fondo{
    width: 100%;
    height: 100vh;
    background-color: rgba(71, 96, 188, 1);
    display: flex;
}
.cover{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: flex;
}
.tablero{
/*     position:absolute; */
    width: 500px;
    height: 300px;
/*     left: 129px;
    top:143px; */

    background: #03276f;
    border-radius: 25px;
}

.titulo {
/*     position: absolute; */
    width: 221px;
    height: 50px;
/*     left: 260px;
    top: 120px; */
    background: #000000;
}
.contador{
    width: 75px;
    height: 61px;
/*     left: 458px;
    top: 263px; */
    font-weight: 400px;
    font-size: 45px;
    line-height: 58px;

    color: #FF0000;
}
.btn{
    width: 39px;
    height:31px;
    left: 41px;
}
@font-face {
    font-family: "digital7";
    src: url(Fuente.ttf);
}
.btn-reset{
/*     position: absolute; */
    width: 15vw;
    height: 5vh;
/*     left: 290px;
    top: 125px; */
    color: white;
    background-color: #000000;
    font-size: 1.5em;
    font-family: digital7;   
}
.ContadoresGuest{
/*     position: relative; */
    width: 50px;
    height: 50px;
/*     left: 187px;
    top: 10px; */
    border-radius: 11px;
    background-color: rgba(222, 189, 189, 0.6);
}

.btn{
    font-family: digital7;
}
.MarcadorHOME{
    position: absolute;
    width: 150px;
    height: 79px;
    left: 122px;
    top: 125px;
    background: #000000;
}



/* correcciones de Leon */

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tablero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    border:1px solid #000000;
}
h3,h2{
    text-align: center;
    margin-left: 0%;
}
.grupoEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

