.home{
    width: 100%;
    height: 100vh;
    background-color: rgba(71, 96, 188, 1);
}
.cover{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.tablero{
    position:absolute;
    width: 500px;
    height: 300px;
    left: 129px;
    top:143px;

    background: #03276f;
    border-radius: 25px;
}

.titulo {
    position: absolute;
    width: 221px;
    height: 36px;
    left: 110px;
    top: 5px;
    background: #000000;
}
.contador{
    width: 75px;
    height: 61px;
    left: 458px;
    top: 263px;
    font-family: digital-7;
    font-weight: 400px;
    font-size: 45px;
    line-height: 58px;

    color: #FF0000;
}